/*
 * Des：身份证资料页css样式
 * Author： njhxzhangjihong@126.com
 * Date：2016/1/12
 */

#infoWrap {
	padding: 20px;
	margin-left: 20px;
	background-color: white;
}

#infoWrap span {
	display: inline-block;
	margin-top: 10px;
	margin-right: 10px;
	text-align: right;
	vertical-align: top;
	width: 100px;
}

#infoWrap img {
	width: 35%;
}

.form-control {
	width: 45%;
	display: inline-block;
	margin: 2px;
}

.short {
	width: 40%;
}

input[type='file'] {
	display: inline-block;
}

input[type='submit'] {
	/*display: block;*/
	margin-left: 20%;
	/*margin-top: 20px;*/
}

form {
	display: inline-block;
}

.tips {
	width: 30% !important;
	text-align: left !important;
	margin-left: 30px !important;
}