/*
 * Des：首页css样式
 * Author： njhxzhangjihong@126.com
 * Date：2016/1/11
 */

.wrap {
	text-align: center;
	width: 1024px;
	height: 768px;
}

#rightPic {
	position: fixed;
	height: 100%;
	min-width: 200px;
	right: 0;
	background-repeat: repeat-y;
	z-index: -10;
	background: url("./../img/book.png");
}

.row {
	margin: 0;
	padding: 0;
}

.row  span {
	margin-right: -25px;
	color: white;
}

.row  input {
	width: 310px;
	height: 40px;
	background-color: rgb(175,195,204);
	color: white;
	margin: 5px 0 5px 0;
	padding-left: 30px;
	outline: none;
}

#codeInput {
	width: 100%;
}

#code {
	display: inline-block;
	/*background-color: rgb(175,195,204);*/
	margin: 5px 0 0 20px;
	width: 100%;
	line-height: 35px;
	color: black;
	border: 1px solid #6d6d6d
}

#autoLogin {
	display: inline-block;
	border: 1px solid #9d9d9d;
	width: 11px;
	height: 11px;
	font-size: 0;
}

/*placeholder*/
input::-webkit-input-placeholder {
　　color: #D6D0CA !important; /* WebKit browsers */
}
input:-moz-placeholder {
　　color: #D6D0CA !important; /* Mozilla Firefox 4 to 18 */
}
input::-moz-placeholder {
　　color: #D6D0CA !important; /* Mozilla Firefox 19+ */
}
input:-ms-input-placeholder {
　　color: #D6D0CA !important; /* Internet Explorer 10+ */
}

#loginTips > span {
	color: black;
}

#loginNext {
	margin-left: 25px;
}

#forgetPwd {
	margin-left: 100px;
}

#loginBtn {
	background-color: #0074D9;
	height: 40px;
}