/*
 * Des：首页css样式
 * Author： njhxzhangjihong@126.com
 * Date：2016/1/11
 */
.wrap {
	/*text-align: center;*/
	/*width: 90%;*/
	/*/!*height: 768px;*!/*/
	margin: 0;
	width: 90%;
	/*min-height: 768px;*/
}

#login {
	margin-top: 20%;
}

#loginTitle {
	margin-bottom: 10%;
}

#loginTitle > div {
	color: #888;
	font-size: 2em;
}

#rightPic {
	position: fixed;
	height: 1080px;
	/*min-width: 200px;*/
	right: 0;
	z-index: -10;
	background: url("./../img/book.png");
	/*background-repeat: repeat-y;*/
}

.row {
	margin: 0;
	padding: 0;
}

.glyphicon {
	margin-right: -25px;
	color: white;
}

.row  input {
	width: 310px;
	height: 40px;
	background-color: rgb(175,195,204);
	color: white;
	margin: 5px 0 5px 0;
	padding-left: 30px;
	outline: none;
}

#codeInput {
	width: 50%;
}

#code {
	display: inline-block;
	text-align: center;
	background-color: rgb(175,195,204);
	margin: 5px 0 0 20px;
	width: 45%;
	line-height: 35px;
	color: black;
	border: 1px solid #6d6d6d;
	font-size: 2em;
	text-shadow: 0 0 10px #000;
	text-decoration: line-through;
	/*background-image:-webkit-linear-gradient(to left, red, orange,yellow,green,blue,indigo);*/
	/*background-image:linear-gradient(to left, red, orange,yellow,green,blue,indigo);*/
}

#autoLogin {
	display: inline-block;
	border: 1px solid #9d9d9d;
	width: 11px;
	height: 11px;
	cursor: pointer;
	margin: 0;
}

#autoChecked {
	display: none;
	/*margin-left: -22px;*/
	margin-top: -10px;
	color: black;
	top: -2px;
}

/*placeholder*/
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
	color: white;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: white;
	opacity: 1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: white;
	opacity: 1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
	color: white;
}

#loginTips > span, #loginTips > span > a  {
	color: #83a3aa;
	font-weight: bold;
}

#loginNext {
	margin-left: 25px;
}

#forgetPwd {
	margin-left: 100px;
}

#loginBtn {
	background-color: #0074D9;
	height: 40px;
	margin-left: -10px;
}