/*
 * Des：其他推广页css样式
 * Author： njhxzhangjihong@126.com
 * Date：2016/1/12
 */

#notice {
	background-color: white;
	/*margin-left: 20%;*/
	z-index: 10;
	height: 30px;
	border-right: 2px solid #e4e4e4;

}

#notice > span {
	margin: 10px;
	color: #5e6a70;
}

#msg {
	font-size: 1.5em;
	font-weight: bold;
	color: #428bca;
}

#content {
	margin-bottom: 20px;
}

#tableWrap {
	margin-top: 30px;
	background-color: white;
	padding: 29px;
	min-height: 400px;
}

#searchNav {
	margin: 10px;
}

#searchNav > span {
	margin: 5px;
}

#searchNav > input {
	line-height: inherit;
}

#searchNav > select	{
	margin: 5px;
	width: 150px;
	height: 25px;
}

#salaryApplyWrap {
	background-color: white;
	margin-top: 30px;
}

#salaryApplyWrap input ,#salaryApplyWrap select ,#salaryApplyWrap textarea {
	width: 80%;
	margin: 0 auto;
	margin-top: 10px;
	display: block;
}

#salaryApplyWrap span {
	margin-left: 10%;
}

#salaryApplyWrap textarea {
	height: 150px;
}

#salaryApplyContent {
	text-align: left;
	margin: 10% 0 10% 0;
}

select {
	height: 30px;
}

h2 {
	font-size: 200%;
	margin: 5%;
}