/*
 * Des：资料页css样式
 * Author： njhxzhangjihong@126.com
 * Date：2016/1/12
 */

#salaryApplyWrap {
	background-color: white;
	margin: 0 auto;
}

#salaryApplyWrap input ,#salaryApplyWrap select ,#salaryApplyWrap textarea {
	width: 200px;
	margin-top: 10px;
}

select {
	height: 30px;
}



#infoWrap div {
	margin-top: 10px;
}

#infoWrap span {
	display: inline-block;
	margin-top: 10px;
	margin-right: 10px;
	text-align: right;
	width: 80px;
}

#inviteCode {
	background-color: #428bca;
	text-align: center;
	width: 40%;
	margin: 0 auto;
}

#modifyBtn {
	margin: 50px 0 0 120px !important;
}

#modifyBtn button {
	width: 150px;
}