/*
 * Des：概述页css样式
 * Author： njhxzhangjihong@126.com
 * Date：2016/1/12
 */

#info {
	margin: 0 auto;
	font-size: 16px;
	text-align: center;
	margin-bottom: 100px;
}

.thumbnail {
	height: 150px;
	padding: 30px;
}

.thumbnail.shadow {
	-webkit-box-shadow: 0 0 25px black;
	-moz-box-shadow: 0 0 25px black;
	box-shadow: 0 0 25px black;
}

#info span {
	font-size: 2em;
}

#banner > li {
	display: none;
}

#banner > li img {
	margin: -50px 0 80px 0;
}

#banner .on {
	display: block;
}